*{
    margin: 0;
    padding:0;
}

/* common property  */
:root{
    --btn-backround-color:#EF233C;
    --dontation-box-color:#FEF4F5;
    --zakat-text-color:#EF233C;
    --para-font:poppins;
    --heading-font:inter;
}

h1,h2{
    font-family: inter;
    margin-bottom: 10px;
}

p{
    font-family: poppins;
    margin-bottom: 5px;
}
/* commont property end */

/* ============================================ */

/* header section start */
    #header{
        background-image: url("/images/Rectangle1.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 560px;
    }

    .header-overlay{
       background-image: linear-gradient(to right, rgba(0, 0, 0, 0.597) , rgba(255, 0, 0, 0.213));
        height: 560px;
    }

    .header-info{
        width: 30%;
        padding-left: 18%;
        padding-top: 146px;
        color: #fff;
        
    }

   
    .header-info h1{
        font-family: var(--heading-font);
        margin-bottom: 20px;
    }

    .header-info p{
        font-family: var(--para-font);
        font-weight: lighter;
        margin-bottom: 20px;
    }

    button{
        background-color: var(--btn-backround-color);
        padding: 8px 20px;
        border: none;
        color: #FEF4F5;
        font-family: poppins;
        border-radius: 5px;
        margin-top:10px;
    }


/* header section end */



/* section one */

.section{
    display: flex;
   justify-content: space-around;
    margin-top: 100px;
    height: 400px;
}

.half-width{
    width: 30%;
}

.section-img{
    position: relative;
}

.section-img img{
    width: 90%;
    position: absolute;
    z-index: -1;;
}

.play-btn img{
    position: absolute;
    width: 20%;
    top: 127px;
    left: 125px;
}

.section-info{
    padding-top: 30px;
}

/* section one end */


/* donation section start */

.donation-center-info{
    text-align: center;
    width: 36%;
    margin: auto;
    
}

.donation-box{
    display: flex;
    justify-content: space-evenly;
    text-align: justify;

    margin-top: 30px;
    margin-bottom: 20px;
}

.box{
    background-color: #ead2d5;
    height: 165px;
    /* border: 1px solid; */
    padding: 17px;
    /* margin: -16px; */
    margin: 0 -110px;
}

.box img{
    float: left;
    margin-right: 10px;
}


/* donation section end */

/* gallery section start */
.gallery{
    display: flex;
    justify-content: space-evenly;
    width: 79%;
    margin:auto;
    margin-top: 80px;
}

.g-image img{
    width: 225px;
    height: 240px;
    margin: 0 22px;
}
/* gallerty section end */